/*==============Спецификации===========*/

* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Audiowide', cursive;
    /*font-family: 'Nunito', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    min-width: 320px;
}
.wrapper {
    display: flex;
    width: 75%;
    margin: 0 auto;
}
h1 {
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    text-align: center;
    margin-top: 75px;
}
h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-top: 7px;
    border-bottom: 2px solid #ff5417;
}

/*================Header=============*/

header {
    width: 100%;
    background: #f9f6f6;
    margin: 0 auto;
}
.header__logo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
nav {
    width: 100%;
}
.topnav a.icon {
    display: block;
    float: right;
}
.boost {
    margin: auto 22px;
}
nav {
    margin: auto 0;
}

/*================Main__carousel=============*/

.carousel-caption h1 {
    margin: 0;
}
.carousel-slogan h1:after {
    border-bottom: none;
}
.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.carousel-bottom {
    position: absolute;
    bottom: 0;
}
.carousel-bottom h4 {
    margin-bottom: 0;
}
.carousel-caption h1,
.carousel-caption p,
.carousel-caption h4 {
    text-transform: uppercase;
}
.carousel-caption h1,
.carousel-caption p {
    text-shadow: 2px 2px black;
}
.carousel-bottom img{
    margin-bottom: 20px;
}
.carousel-caption h4 {
    font-size: 12px;
}

/*===================About__us================*/

.about__sections h4 {
    font-size: 17px;
    font-weight: 600;
}
.about__sections h4 {
    text-transform: uppercase;
    text-align: center;
}
.about__header p {
    font-size: 14px;
    color: #8e8e8e;
    width: 60%;
    margin: 21px auto 50px auto;
}
.about__header p,
.about__sections p,
.about__sections h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.about {
    display: flex;
    flex-direction: column;
}
.about__sections {
    display: flex;
    justify-content: space-between;
}
.about__us {
    background: #fff;
}
.about {
    margin: 0 0 120px 0;
    width: 100%;
}
.about__section {
    text-align: center;
    background: #ececec;
    margin-right: 21px;
    width: 100%;
}
.about__section:last-of-type {
    margin-right: 0;
}
.about__section img {
    margin-top: 36px;
    margin-bottom: 15px;
}
.about__section p {
    font-size: 14px;
    margin-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
}
.space {
    height: 13px;
}
.space1 {
    height: 30px;
}

/*=====================Movie==================*/
.movie {
    display: flex;
    max-width: 100%;
}
.slogan {
    margin-top: 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #e7e7e7;
    text-transform: uppercase;
    text-align: center;
}
.play p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #484b4d;
    text-align: center;
    width: 80%;
    margin: 29px auto 45px auto;
}
.button__block {
    padding-bottom: 90px;
}
.button__block button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 122px;
    height: 40px;
    background: #ff473d;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #d80000;
    font-family: 'Roboto', sans-serif;
    color: #ecebeb;
    font-weight: bold;
    font-size: 14px;
    line-height: 2.6;
}
.button__block button:hover {
    background: #ff554d
}
.play {
    width: 50%;
    background: #0a191e;
    font-family: 'Roboto', sans-serif;
}
.video {
    background: url("../img/video.jpg") center no-repeat;
    width: 50%;
}
.arrow {
    text-align: center;
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===================Our_works================*/

.our__works {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.our__works p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8e8e8e;
    width: 70%;
    margin: 21px auto 80px auto;
    text-align: center;
}
.top__nav {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
}
.top__nav a {
    color: #444444;
    margin-right: 37px;
    margin-bottom: 28px;
    letter-spacing: 1px;
}
.top__nav a:hover {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #ff5417;
}
.top__nav a:last-of-type {
    margin-right: 0;
}

/*===================gallery==================*/

.gallery {
    display: flex;
    flex-direction: column;
}
.line1,
.line2,
.line3 {
    display: flex;
    justify-content: center;
}
.gallery img {
    padding: 2px 2px;
    width: 33.3%;
    height: 33.3%;
}

/*====================clients=================*/

.clients__slider {
    background: #161616;
    padding: 80px 0;
}
.elastislide-wrapper {
    box-shadow: none;
}

/*==================Who we are================*/

.who_we_are {
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px auto;
    width: 100%;
}
.who {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8e8e8e;
    width: 80%;
    margin: 21px auto 85px auto;
    text-align: center;
}
.our_features {
    display: flex;
}
.person_features,
.skills_wrapper {
    background: #ececec;
}
.person_features {
    flex-basis: 32%;
    margin-right: 25px;
}
.person_icon {
    width: 130px;
    height: 130px;
    background: #ff694f;
    border-radius: 50%;
    margin: 70px auto 30px auto;
}
.carousel-inner h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0.1rem;
}
.carousel-inner h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #696969;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
.social_references {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.social_references a {
    color: #696969;
    margin-right: 7px;
}
.social_references a:hover {
    color: #8a8a8a;
}
.social_references .fab {
    margin-top: 12px;
}
.sp__ {
    height: 50px;
}
.carousel-indicators {
    bottom: -24px;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 6px;
}
.carousel-indicators li.active {
    background-color: #948282;
}
.skills_wrapper {
    flex-basis: 68%;
}
.wrapper__special {
    display: flex;
    width: 75%;
    margin: 0 auto;
}
.person_skills {
    margin: 0 auto;
    padding: 0 10%;
}
.person_skills h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 120px;
    letter-spacing: 2px;
}
.person_skills p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #8e8e8e;
    margin: 25px auto 40px auto;
}
.skill_values {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 85px;
    display: flex;
}
._values {
    width: 100%;
}
._values img {
    width: 100%;
    height: 1px;
}
.skill_values h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .4rem;
}
.names,
._values {
    margin-right: 15px;
}
.nospace {
    white-space: nowrap;
}

/*================Some features===============*/

.wrapper__some {
    width: 75%;
    margin: 0 auto;
}
.some__features {
    display: grid;
    background-color: #0a191e;
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 55px;
}
.contain h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    margin: 50px auto 40px auto;
    color: rgb(246, 246, 246);
    line-height: 1.2;
    letter-spacing: 3px;
}
.contain h1:after {
    width: 80px;
    border-bottom: 1px solid #3f3f3f;
}
.contain {
    width: 100%;
}
.parag {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgb(246, 246, 246);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}
.number {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: rgb(246, 246, 246);
    line-height: 1.2;
    text-align: center;
}
.features img {
    display: block;
    margin: 10px auto 15px auto;
}
.card_ {
    position: relative;
    width: 170px;
    height: 200px;
    margin: 0 auto;
}
.feature_img {
    height: 85px;
    width: 100%;
}

/*=================Blog Posts=================*/

.info_blocks {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.info_block {
    width: 310px;
    height: 425px;
    background-color: #ececec;
    margin-right: 21px;
}
.info_block:last-of-type {
    margin-right: 0;
}
.blog_posts p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8e8e8e;
    width: 70%;
    margin: 21px auto 85px auto;
    text-align: center;
}
.content {
    height: 178px;
    padding: 25px;
}
.content p {
    color: #9b9b9b;
    width: 100%;
    margin: 0;
    text-align: left;
}
.content h4 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #7d7d7d;
    white-space: nowrap;
}
.blog_wrapper {
    margin: 0 auto;
    width: 85%;
}
.photo_1 {
    height: 50%;
    background: url(../img/create1.jpg) center;
}
.photo_2 {
    height: 50%;
    background: url(../img/create2.jpg) center;
}
.photo_3 {
    height: 50%;
    background: url(../img/create3.jpg) center;
}
.photo_1,
.photo_2,
.photo_3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_hover {
    position: absolute;
    transition: .5s;
}
.photo_1 div:first-child,
.photo_2 div:first-child,
.photo_3 div:first-child{
    opacity: 0;
}
.photo_1:hover div:first-child,
.photo_2:hover div:first-child,
.photo_3:hover div:first-child {
    opacity: 1;
    transition: .5s;
}
.show_hover img {
    box-shadow: 0 0 5px 1px #8e8e8e;
    border-radius: 50%;
}
.show_hover a:first-child {
    margin-right: 10px;
}
.block__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 25px;
}
.block__bottom span {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(138, 137, 137);
}

/*================Choose plan=================*/

.plan_wrapper {
    display: flex;
    margin: 0 auto;
}
.plan {
    background-color: #0a191e;
}
.choose__plan h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    margin: 50px auto 40px auto;
    color: rgb(246, 246, 246);
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.choose__plan h1:after {
    width: 80px;
    border-bottom: 1px solid #3f3f3f;
}
.choose__plan {
    text-align: center;
    margin: 0 auto;
}
.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}
.variant {
    width: 233px;
    height: 443px;
    background-color: rgb(31, 40, 44);
    margin-right: 2px;
    border-radius: 3px;
}
.plan_name {
    background-color: rgb(14, 19, 22);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}
.plan_name p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    padding-top: 38px;
    margin-bottom: -3px;
}
.plan_name h3 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    padding-bottom: 38px;
    margin-bottom: 0;
}
.plan_name span {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.description p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #dedede;
    letter-spacing: 1px;
}
.description span {
    font-weight: bold;
    color: #ffffff;
    margin-right: 4px;
}
.description {
    padding-top: 50px;
}
.button_plan {
    padding-top: 24px;
}
.button_plan button {
    background-color: #ff7547;
    width: 125px;
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    cursor: pointer;
}
.variant:hover {
    border: 1px solid #ff7547;
}
.description:hover span {
    color: #ff7547;
    transition: .5s;
}

/*================Get in touch================*/
.in_touch {
    margin: 0 auto;
}
.in_touch h1 {
    margin-top: 80px;
}
.in_touch p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8e8e8e;
    width: 80%;
    margin: 25px auto 70px auto;
    text-align: center;
}
.in_touch .form p {
    color: #595959;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
p.textarea {
    margin: 50px 0 0 0;
}
textarea {
    font-family: sans-serif;
    font-size: 21px;
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 1px solid #adadad;
}
.red {
    color: #ff5417;
}
input {
    font-family: sans-serif;
    font-size: 21px;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #b4b4b4;
}

.form__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form__inputs div {
    padding: 0 0 20px 0;
}
.form__inputs div:first-of-type {
    padding-right: 15px;
}
.form__inputs div:last-of-type {
    padding-left: 15px;
}
.button_block {
    padding-bottom: 80px;
    text-align: center;
}
.button_block button {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    background: #ff7547;
    border: none;
    margin: 60px auto 0 auto;
    width: 200px;
    height: 50px;
}

/*================Locate on map===============*/

.location {
    width: 100%;
    background: #030a0d;
}
.locate_on_map {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.locate_on_map h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    color: white;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.locate_on_map img {
    margin: 8px 0 0 7px;
}
.logo {
    display: grid;
    justify-content: center;
    text-align: center;
    background: #0a191e;
    padding-top: 45px;
    padding-bottom: 60px;
}
.logo h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
    margin-bottom: 11px;
    letter-spacing: 1px;
}
.social_icons a {
    color: white;
    margin-right: 6px;
}
.social_icons a:last-of-type {
    margin-right: 0;
}

/*============Exceptions for firefox==========*/

@-moz-document url-prefix() {
    .gallery img {
        height: 100%;
    }
}

/*================Media__requests=============*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2560px) {
    .carousel-caption h1 {
        font-size: 62px;
    }
    .carousel-caption p {
        font-size: 21px;
    }
    .carousel-caption h4 {
        font-size: 15px;
    }
    .wrapper__sp {
        width: 85%;
        margin: 0 auto 0 auto;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
    .carousel-caption h1 {
        font-size: 42px;
    }
    @-moz-document url-prefix() {
        .wrapper__special {
            width: 88%;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .carousel-caption h1 {
        font-size: 35px;
    }
    .carousel-caption h4 {
        font-size: 12px;
    }
    .carousel-caption p {
        font-size: 21px;
    }
    .movie {
        width: 75%;
        margin: 0 auto;
        flex-direction: column;
    }
    .play,
    .video {
        width: 100%;
    }
    .video {
        margin-top: 40px;
        height: 330px;
    }
    .slogan {
        margin-top: 45px;
    }
    .button__block {
        padding-bottom: 45px;
    }
    .video {
        background: url(../img/video.jpg) center;
    }
    .elastislide-carousel ul li a {
        margin-top: 8px;
    }
    .person_skills {
        padding: 0 5%;
    }
    .wrapper__special {
        width: 88%;
    }
    .skill_values {
        margin-bottom: 45px;
    }
    @-moz-document url-prefix() {
        .person_features {
            margin-right: 0;
        }
        ._values img {
            width: 100%;
            height: 1px;
        }
        ._values {
            width: 100%;
        }
        .wrapper__special {
            width: 75%;
        }
    }
    .in_touch h1 {
        margin-top: 45px;
    }
    .person_icon {
        margin: 50px auto 30px auto;
    }
    .button_block {
        padding-bottom: 45px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .top__nav {
        font-size: 12px;
    }
    .elastislide-carousel ul li a {
        margin-top: 13px;
    }
    .clients__slider {
        padding: 40px 0;
    }
    .person_features {
        flex-basis: 40%;
    }
    .skills_wrapper {
        flex-basis: 60%;
    }
    .wrapper__special {
        width: 92%;
    }
    .person_skills h2 {
        margin-top: 70px;
    }
    .who_we_are {
        margin: 0 auto 100px auto;
    }
    ._values {
        width: 100%;
    }
    .carousel-indicators {
        bottom: -6px;
    }
    .wrapper__some {
        width: 95%;
        margin: 0 auto;
    }
    .blog_wrapper {
        width: 97%;
    }
    .content p {
        line-height: 1.3;
    }
    .content {
        padding: 10px;
    }
    .block__bottom {
        padding: 0 10px 0 10px;
    }
    .plan_wrapper {
        width: 92%;
    }
    .options {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .variant {
        width: 305px;
        margin-bottom: 25px;
    }


    @-moz-document url-prefix() {
        .person_features {
            margin-right: 15px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header__logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .boost img {
        width: 120px;
    }
    .icon img {
        width: 30px;
    }
    .carousel-bottom h4 {
        font-size: 12px;
    }
    .carousel-bottom img{
        margin-bottom: 10px;
    }
    .carousel-caption h1 {
        font-size: 27px;
    }
    .carousel-caption p {
        font-size: 16px;
        margin-bottom: -4rem;
    }
    .about__sections {
        flex-direction: column;
    }
    .about__section {
        margin: 0 0 15px 0;
    }
    h1 {
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .about {
        margin: 0 auto 0 auto;
    }
    .about__header p {
        width: 95%;
    }
    .video {
        margin-top: 15px;
    }
    .our__works p {
        width: 90%;
        margin-bottom: 50px;
    }
    .top__nav a {
        margin-right: 15px;
        margin-bottom: 20px;
        letter-spacing: 0;
    }
    .gallery {
        flex-direction: row;
    }
    .line1,
    .line2 {
        flex-direction: column;
    }
    .gallery img {
        padding: 1px 1px;
        width: 100%;
    }
    .line3 {
        display: none;
    }
    .elastislide-horizontal {
        padding: 10px 15px!important;
    }
    .elastislide-horizontal nav span.elastislide-next {
        right: -10px!important;
    }
    nav span.elastislide-prev {
        left: -10px!important;
    }
    .wrapper__special {
        width: 90%;
    }
    .who_we_are {
        margin: 0 auto 15px auto;
    }
    .person_features {
        margin-right: 15px;
    }
    .who {
        margin: 21px auto 35px auto;
    }
    .our_features {
        margin-bottom: 50px;
    }
    .person_features {
        flex-basis: 50%;
    }
    .skills_wrapper {
        flex-basis: 50%;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .wrapper__some {
        width: 80%;
    }
    .card_ {
        margin-bottom: 40px;
    }
    .features {
        margin-bottom: 15px;
    }
    .info_blocks {
        flex-flow: column;
        margin-bottom: 30px;
    }
    .info_block {
        width: 75%;
        margin: 0 auto 30px auto;
    }
    .info_block:last-of-type {
        margin-right: auto;
    }
    .blog_posts p {
        margin: 20px auto 35px auto;
    }
    .content {
        padding: 25px;
    }
    .block__bottom {
        padding: 0 25px 0 25px;
    }
    .form__inputs {
        grid-template-columns: 1fr;
    }
    .form__inputs div:first-of-type {
        padding-right: 0;
    }
    .form__inputs div:last-of-type {
        padding-left: 0;
    }
    .in_touch p {
        margin: 25px auto 35px auto;
    }
    .button_block button {
        margin: 30px auto 0 auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
    .carousel-bottom h4 {
        font-size: 10px;
        margin-bottom: -.5rem;
    }
    .carousel-caption h1 {
        font-size: 25px;
    }
    .carousel-caption p {
        font-size: 12px;
    }
    .carousel-bottom img {
        height: 31px;
    }
    .video {
        height: 230px;
    }
    .play p {
        width: 95%;
    }
    .arrow img {
        width: 60%;
    }
    .video {
        background: url("../img/video.jpg") round;
    }
    .top__nav {
        flex-wrap: wrap;
    }
    .top__nav a {
        margin-bottom: 10px;
    }
    .top__nav a:first-of-type {
        margin-left: 15px;
    }
    .who {
        width: 96%;
    }
    .elastislide-horizontal nav span {
        top: 41% !important;
    }
    .wrapper__sp {
        width: 90%;
        margin: 0 auto 0 auto;
    }
    .our_features {
        flex-direction: column;
    }
    .person_features {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .wrapper__special {
        width: 75%;
    }
    .person_skills h2 {
        margin-top: 25px;
    }
    .person_icon {
        margin: 30px auto 30px auto;
    }
    .info_block {
        width: 100%;
    }
    .blog_posts p {
        width: 93%;
    }
    .content p {
        width: 100%;
    }
    .logo {
        padding-top: 22px;
        padding-bottom: 30px;
    }
    .locate_on_map h3 {
        font-size: 16px;
    }
    .locate_on_map img {
        width: 75%;
        margin: -4px 0 0 -1px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .wrapper {
        width: 90%;
    }
    .carousel-caption h1 {
        font-size: 21px;
    }
    .carousel-bottom {
        display: none;
    }
    .carousel-caption p {
        font-size: 12px;
    }
    .carousel-slogan h1 {
        margin-top: 0;
    }
    .movie {
        width: 90%
    }
    .skill_values,
    .skill_values h3 {
        font-size: 12px;
    }
    .skill_values {
        margin-bottom: 18px;
    }
    .names,
    ._values {
        margin-right: 6px;
    }
    .slogan {
        font-size: 22px;
        margin-top: 20px;
    }
    .button__block {
        padding-bottom: 20px;
    }
    .play p {
        margin: 15px auto 22px auto;
    }
    .button__block button {
        width: 80px;
        height: 26px;
        border-bottom: 1px solid #d80000;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
    }
    .our__works p {
        margin-bottom: 30px;
    }
    .clients__slider {
        padding: 20px 0!important;
    }
    .features {
        grid-template-columns: 1fr;
    }
    .plan_wrapper {
        width: 96%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 670px) {
    .carousel-slogan p {
        margin-bottom: -5rem;
    }
}

@media only screen and (min-width : 1600px) {
    .wrapper {
        width: 65%;
    }
    .movie {
        margin: 0 auto;
        width: 65%;
    }
    .video {
        background: url("../img/video.jpg") center;
    }
    .top__nav a {
        text-align: center;
        width: 13%;
        font-size: 17px;
    }
    .wrapper__sp .elastislide-horizontal {
        padding: 10px 230px;
    }
    .wrapper__special {
        width: 60%;
    }
    .wrapper__some {
        width: 55%;
    }
    .info_block {
        width: 450px;
    }
    .variant {
        width: 346px;
    }
    .person_skills {
        padding: 0 20% 0 10%;
    }
    .in_touch {
        width: 90%;
    }
}